testing_bucket2/Elastic_Search_Poc.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "92aede5b-9351-3b76-9b7a-f1207baa113d",
            "instanceIdentifier" : "f7d13622-8da1-1b86-24b0-20c0ed7295c9",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "6bb15fb4-2ba1-3d8e-95e3-afafc330141c",
          "instanceIdentifier" : "f7d13617-8da1-1b86-eeed-f3055579756a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "496c3602-4d29-3bdc-9105-966749419e80",
            "instanceIdentifier" : "f7d13616-8da1-1b86-a217-acc0cd3646ee",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "266a0fe2-f2ca-3e01-b87b-e8782020b712",
            "instanceIdentifier" : "f7d1360a-8da1-1b86-f217-3d6e7005d525",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "95494241-3e75-31c7-860f-7b11608555e0",
          "instanceIdentifier" : "f7d1361e-8da1-1b86-1140-7e09bbf30749",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "b58d7250-e4be-3648-9fc4-dc2993bc7d1d",
            "instanceIdentifier" : "f7d13602-8da1-1b86-44ad-e9f4147e10da",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "266a0fe2-f2ca-3e01-b87b-e8782020b712",
            "instanceIdentifier" : "f7d1360a-8da1-1b86-f217-3d6e7005d525",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "2cd95c55-a2ea-33f7-adae-b0e9b6a61148",
          "instanceIdentifier" : "f7d1364a-8da1-1b86-fca7-06af11d595f9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "34f39d32-19f6-3d31-a422-e5df4318b3c1",
            "instanceIdentifier" : "f7d13644-8da1-1b86-06be-b4111b067de1",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "34f39d32-19f6-3d31-a422-e5df4318b3c1",
            "instanceIdentifier" : "f7d13644-8da1-1b86-06be-b4111b067de1",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "e5f30601-a3eb-3f5a-a117-0d9b37960651",
          "instanceIdentifier" : "f7d13649-8da1-1b86-bbb2-de7782fa707d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "6b14dce9-929f-337c-82d2-1cb4f97182b7",
            "instanceIdentifier" : "f7d13647-8da1-1b86-bcd2-5d06c4b4406a",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "496c3602-4d29-3bdc-9105-966749419e80",
            "instanceIdentifier" : "f7d13616-8da1-1b86-a217-acc0cd3646ee",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "0d77a718-6103-3422-b223-a81ce9c282f1",
          "instanceIdentifier" : "f7d1360d-8da1-1b86-b6d5-92dc5c326798",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "b50e5bd3-6088-3be0-83ef-dcea1c571cae",
            "instanceIdentifier" : "f7d13608-8da1-1b86-7e74-e173f2565721",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "b50e5bd3-6088-3be0-83ef-dcea1c571cae",
            "instanceIdentifier" : "f7d13608-8da1-1b86-7e74-e173f2565721",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "9b368a5a-ee4f-3d75-aae3-af6bc0acf626",
          "instanceIdentifier" : "f7d13609-8da1-1b86-55a9-41e7da628575",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "0e933847-1cb6-3380-84b7-8dccbc7a96f6",
            "instanceIdentifier" : "f7d13607-8da1-1b86-81ba-920e0b2829be",
            "name" : "GetFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "e5361edd-7bae-3c36-a79b-8674df370e68",
            "instanceIdentifier" : "f7d1364f-8da1-1b86-4567-581fa5d6143c",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "d31dd30c-ed2d-3e88-95af-6307dde2b735",
          "instanceIdentifier" : "f7d13650-8da1-1b86-72e5-22d757de5562",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "5b8f831d-3ecc-34a2-aaf6-fb19de562882",
            "instanceIdentifier" : "f7d13631-8da1-1b86-7389-3ae14196e4fb",
            "name" : "QueryElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "e5361edd-7bae-3c36-a79b-8674df370e68",
            "instanceIdentifier" : "f7d1364f-8da1-1b86-4567-581fa5d6143c",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "64657c0d-5d9a-3170-8f82-59b24fd59d42",
          "instanceIdentifier" : "f7d13657-8da1-1b86-fff3-427775cb20ff",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "hits" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "442bd35e-cbee-3751-a601-aad3a97d359f",
            "instanceIdentifier" : "f7d13651-8da1-1b86-b94f-fe67755d9f6f",
            "name" : "JsonQueryElasticsearch",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "b58d7250-e4be-3648-9fc4-dc2993bc7d1d",
            "instanceIdentifier" : "f7d13602-8da1-1b86-44ad-e9f4147e10da",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "114e06e9-98e3-3e71-a8d5-5b4932673d6c",
          "instanceIdentifier" : "f7d1363f-8da1-1b86-c29b-438bcbd57ce4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "92aede5b-9351-3b76-9b7a-f1207baa113d",
            "instanceIdentifier" : "f7d13622-8da1-1b86-24b0-20c0ed7295c9",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "7776e9d9-b867-35b5-8f5e-3dcf24b938c5",
            "instanceIdentifier" : "f7d13633-8da1-1b86-893a-6bee110f1492",
            "name" : "FetchElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "4e9ee80a-be17-3dfc-a3df-05b32089d84f",
          "instanceIdentifier" : "f7d13623-8da1-1b86-c441-4a5f71e82bf9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "92aede5b-9351-3b76-9b7a-f1207baa113d",
            "instanceIdentifier" : "f7d13622-8da1-1b86-24b0-20c0ed7295c9",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "6b14dce9-929f-337c-82d2-1cb4f97182b7",
            "instanceIdentifier" : "f7d13647-8da1-1b86-bcd2-5d06c4b4406a",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "248d2b19-6331-3ec6-acb6-d3bfe36d865c",
          "instanceIdentifier" : "f7d13634-8da1-1b86-0fd5-21630ec01172",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "7776e9d9-b867-35b5-8f5e-3dcf24b938c5",
            "instanceIdentifier" : "f7d13633-8da1-1b86-893a-6bee110f1492",
            "name" : "FetchElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "e12ceb26-0156-35ac-97b7-41793cbf509a",
            "instanceIdentifier" : "f7d13658-8da1-1b86-adb1-c06e437fe634",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "cc51d893-4690-3e53-a07a-561e957c5a4e",
          "instanceIdentifier" : "f7d13659-8da1-1b86-d07d-a499772f012f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original", "failure", "aggregations" ],
          "source" : {
            "comments" : "",
            "groupId" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
            "id" : "442bd35e-cbee-3751-a601-aad3a97d359f",
            "instanceIdentifier" : "f7d13651-8da1-1b86-b94f-fe67755d9f6f",
            "name" : "JsonQueryElasticsearch",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "a367aab6-4424-37a2-90ac-f1394c68b1d9",
          "instanceIdentifier" : "f7d13604-8da1-1b86-b975-edddf57e1d34",
          "name" : "DBCPConnectionPool",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "Database Driver Class Name" : "com.mysql.jdbc.Driver",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "Database Connection URL" : "jdbc:mysql://localhost:3306/mydb",
            "dbcp-time-between-eviction-runs" : "-1",
            "Database User" : "root",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "database-driver-locations" : "/usr/local/nifi/mysql-connector-j-8.0.33.jar",
            "dbcp-max-idle-conns" : "8"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
              },
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "d2ad18f7-6490-3e6c-9319-8e96f1f10768",
          "instanceIdentifier" : "f7d13610-8da1-1b86-d589-c55932b56e39",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "91d6e487-a565-3bbc-abbc-d4097a52ab16",
          "instanceIdentifier" : "f7d1360b-8da1-1b86-2a16-001a4672adcb",
          "name" : "CSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "Trim double quote" : "true",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "infer-schema",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Trim double quote" : {
              "displayName" : "Trim double quote",
              "identifiesControllerService" : false,
              "name" : "Trim double quote",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-client-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-elasticsearch-client-service-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.elasticsearch.ElasticSearchClientService"
          } ],
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "cc4cef93-6637-3408-85c7-f6ad8fe793e8",
          "instanceIdentifier" : "f7d13653-8da1-1b86-cbc2-1db72ee17b87",
          "name" : "ElasticSearchClientServiceImpl",
          "properties" : {
            "el-cs-retry-timeout" : "60000",
            "el-cs-suppress-nulls" : "always-suppress",
            "el-cs-http-hosts" : "http://localhost:9200",
            "authorization-scheme" : "BASIC",
            "el-cs-charset" : "UTF-8",
            "el-cs-connect-timeout" : "5000",
            "el-cs-socket-timeout" : "60000"
          },
          "propertyDescriptors" : {
            "el-cs-suppress-nulls" : {
              "displayName" : "Suppress Null/Empty Values",
              "identifiesControllerService" : false,
              "name" : "el-cs-suppress-nulls",
              "sensitive" : false
            },
            "el-cs-http-hosts" : {
              "displayName" : "HTTP Hosts",
              "identifiesControllerService" : false,
              "name" : "el-cs-http-hosts",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "el-cs-charset" : {
              "displayName" : "Charset",
              "identifiesControllerService" : false,
              "name" : "el-cs-charset",
              "sensitive" : false
            },
            "api-key-id" : {
              "displayName" : "API Key ID",
              "identifiesControllerService" : false,
              "name" : "api-key-id",
              "sensitive" : false
            },
            "el-cs-username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "el-cs-username",
              "sensitive" : false
            },
            "el-cs-retry-timeout" : {
              "displayName" : "Retry timeout",
              "identifiesControllerService" : false,
              "name" : "el-cs-retry-timeout",
              "sensitive" : false
            },
            "el-cs-password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "el-cs-password",
              "sensitive" : true
            },
            "api-key" : {
              "displayName" : "API Key",
              "identifiesControllerService" : false,
              "name" : "api-key",
              "sensitive" : true
            },
            "authorization-scheme" : {
              "displayName" : "Authorization Scheme",
              "identifiesControllerService" : false,
              "name" : "authorization-scheme",
              "sensitive" : false
            },
            "el-cs-connect-timeout" : {
              "displayName" : "Connect timeout",
              "identifiesControllerService" : false,
              "name" : "el-cs-connect-timeout",
              "sensitive" : false
            },
            "el-cs-socket-timeout" : {
              "displayName" : "Read timeout",
              "identifiesControllerService" : false,
              "name" : "el-cs-socket-timeout",
              "sensitive" : false
            },
            "el-cs-ssl-context-service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "el-cs-ssl-context-service",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
        "inputPorts" : [ ],
        "instanceIdentifier" : "f7d135fc-8da1-1b86-4ed5-e047e8fdc2a6",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "height" : 464.0,
          "identifier" : "cc9de56a-8bac-323f-89e9-d558b204af48",
          "instanceIdentifier" : "f7d1365b-8da1-1b86-7a31-821ca1aa03d4",
          "label" : "Fetch Es by Query",
          "position" : {
            "x" : 1664.0,
            "y" : -240.0
          },
          "style" : {
            "font-size" : "16px"
          },
          "width" : 816.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "height" : 984.0,
          "identifier" : "5ba23f5c-a1ac-350f-a729-2f7142406142",
          "instanceIdentifier" : "f7d13640-8da1-1b86-17e3-15913d4b2216",
          "label" : "Elastic Search put/Fetch",
          "position" : {
            "x" : -280.0,
            "y" : -192.0
          },
          "style" : {
            "font-size" : "16px"
          },
          "width" : 1832.0,
          "zIndex" : 0
        } ],
        "name" : "Elastic Search",
        "outputPorts" : [ ],
        "position" : {
          "x" : 1352.0,
          "y" : 24.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "496c3602-4d29-3bdc-9105-966749419e80",
          "instanceIdentifier" : "f7d13616-8da1-1b86-a217-acc0cd3646ee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 424.0,
            "y" : -152.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "not found", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "7776e9d9-b867-35b5-8f5e-3dcf24b938c5",
          "instanceIdentifier" : "f7d13633-8da1-1b86-893a-6bee110f1492",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FetchElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1072.0,
            "y" : 24.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "fetch-es-doc-id" : "${fragment.index}",
            "fetch-es-index" : "reporting-index",
            "elasticsearch-http-url" : "http://localhost:9200",
            "fetch-es-type" : "_doc",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "fetch-es-doc-id" : {
              "displayName" : "Document Identifier",
              "identifiesControllerService" : false,
              "name" : "fetch-es-doc-id",
              "sensitive" : false
            },
            "fetch-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "fetch-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "fetch-es-fields" : {
              "displayName" : "Fields",
              "identifiesControllerService" : false,
              "name" : "fetch-es-fields",
              "sensitive" : false
            },
            "fetch-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "fetch-es-type",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.FetchElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "34f39d32-19f6-3d31-a422-e5df4318b3c1",
          "instanceIdentifier" : "f7d13644-8da1-1b86-06be-b4111b067de1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1072.0,
            "y" : 536.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "put-es-id-attr" : "fragment.index",
            "put-es-type" : "_doc",
            "put-es-index" : "reporting-index",
            "elasticsearch-http-url" : "http://localhost:9200/",
            "put-es-batch-size" : "100",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "put-es-index-op" : "update",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "put-es-id-attr" : {
              "displayName" : "Identifier Attribute",
              "identifiesControllerService" : false,
              "name" : "put-es-id-attr",
              "sensitive" : false
            },
            "put-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "put-es-type",
              "sensitive" : false
            },
            "put-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "put-es-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "put-es-index-op" : {
              "displayName" : "Index Operation",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "0e933847-1cb6-3380-84b7-8dccbc7a96f6",
          "instanceIdentifier" : "f7d13607-8da1-1b86-81ba-920e0b2829be",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GetFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -144.0,
            "y" : -152.0
          },
          "properties" : {
            "Keep Source File" : "true",
            "Minimum File Age" : "0 sec",
            "Polling Interval" : "0 sec",
            "Input Directory" : "/Users/PrabhatK/Downloads/Csv files",
            "Batch Size" : "10",
            "Minimum File Size" : "0 B",
            "Ignore Hidden Files" : "true",
            "Recurse Subdirectories" : "true",
            "File Filter" : "clean.csv"
          },
          "propertyDescriptors" : {
            "Keep Source File" : {
              "displayName" : "Keep Source File",
              "identifiesControllerService" : false,
              "name" : "Keep Source File",
              "sensitive" : false
            },
            "Minimum File Age" : {
              "displayName" : "Minimum File Age",
              "identifiesControllerService" : false,
              "name" : "Minimum File Age",
              "sensitive" : false
            },
            "Polling Interval" : {
              "displayName" : "Polling Interval",
              "identifiesControllerService" : false,
              "name" : "Polling Interval",
              "sensitive" : false
            },
            "Input Directory" : {
              "displayName" : "Input Directory",
              "identifiesControllerService" : false,
              "name" : "Input Directory",
              "sensitive" : false
            },
            "Maximum File Age" : {
              "displayName" : "Maximum File Age",
              "identifiesControllerService" : false,
              "name" : "Maximum File Age",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Maximum File Size" : {
              "displayName" : "Maximum File Size",
              "identifiesControllerService" : false,
              "name" : "Maximum File Size",
              "sensitive" : false
            },
            "Minimum File Size" : {
              "displayName" : "Minimum File Size",
              "identifiesControllerService" : false,
              "name" : "Minimum File Size",
              "sensitive" : false
            },
            "Ignore Hidden Files" : {
              "displayName" : "Ignore Hidden Files",
              "identifiesControllerService" : false,
              "name" : "Ignore Hidden Files",
              "sensitive" : false
            },
            "Recurse Subdirectories" : {
              "displayName" : "Recurse Subdirectories",
              "identifiesControllerService" : false,
              "name" : "Recurse Subdirectories",
              "sensitive" : false
            },
            "File Filter" : {
              "displayName" : "File Filter",
              "identifiesControllerService" : false,
              "name" : "File Filter",
              "sensitive" : false
            },
            "Path Filter" : {
              "displayName" : "Path Filter",
              "identifiesControllerService" : false,
              "name" : "Path Filter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GetFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-amqp-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "aeeeec7d-fd65-351d-9c02-d578593382aa",
          "instanceIdentifier" : "32c2982c-0188-1000-64f4-45bf9ccc4163",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeAMQP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2145.2102956287026,
            "y" : 707.6389328608817
          },
          "properties" : {
            "ssl-client-auth" : "NONE",
            "batch.size" : "10",
            "Port" : "5672",
            "cert-authentication" : "false",
            "auto.acknowledge" : "false",
            "Host Name" : "localhost",
            "header.separator" : ",",
            "AMQP Version" : "0.9.1",
            "remove.curly.braces" : "False"
          },
          "propertyDescriptors" : {
            "ssl-context-service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl-context-service",
              "sensitive" : false
            },
            "User Name" : {
              "displayName" : "User Name",
              "identifiesControllerService" : false,
              "name" : "User Name",
              "sensitive" : false
            },
            "ssl-client-auth" : {
              "displayName" : "Client Auth",
              "identifiesControllerService" : false,
              "name" : "ssl-client-auth",
              "sensitive" : false
            },
            "batch.size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "batch.size",
              "sensitive" : false
            },
            "Port" : {
              "displayName" : "Port",
              "identifiesControllerService" : false,
              "name" : "Port",
              "sensitive" : false
            },
            "Brokers" : {
              "displayName" : "Brokers",
              "identifiesControllerService" : false,
              "name" : "Brokers",
              "sensitive" : false
            },
            "cert-authentication" : {
              "displayName" : "Use Client Certificate Authentication",
              "identifiesControllerService" : false,
              "name" : "cert-authentication",
              "sensitive" : false
            },
            "auto.acknowledge" : {
              "displayName" : "Auto-Acknowledge Messages",
              "identifiesControllerService" : false,
              "name" : "auto.acknowledge",
              "sensitive" : false
            },
            "Host Name" : {
              "displayName" : "Host Name",
              "identifiesControllerService" : false,
              "name" : "Host Name",
              "sensitive" : false
            },
            "header.separator" : {
              "displayName" : "Header Separator",
              "identifiesControllerService" : false,
              "name" : "header.separator",
              "sensitive" : false
            },
            "AMQP Version" : {
              "displayName" : "AMQP Version",
              "identifiesControllerService" : false,
              "name" : "AMQP Version",
              "sensitive" : false
            },
            "Virtual Host" : {
              "displayName" : "Virtual Host",
              "identifiesControllerService" : false,
              "name" : "Virtual Host",
              "sensitive" : false
            },
            "Queue" : {
              "displayName" : "Queue",
              "identifiesControllerService" : false,
              "name" : "Queue",
              "sensitive" : false
            },
            "remove.curly.braces" : {
              "displayName" : "Remove Curly Braces",
              "identifiesControllerService" : false,
              "name" : "remove.curly.braces",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.amqp.processors.ConsumeAMQP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "6b14dce9-929f-337c-82d2-1cb4f97182b7",
          "instanceIdentifier" : "f7d13647-8da1-1b86-bcd2-5d06c4b4406a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1072.0,
            "y" : 288.0
          },
          "properties" : {
            "jolt-spec" : "[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"instrumentAssetSubType\": [\"=toBoolean\", true]\n    }\n  }\n]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "5b8f831d-3ecc-34a2-aaf6-fb19de562882",
          "instanceIdentifier" : "f7d13631-8da1-1b86-7389-3ae14196e4fb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "QueryElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1688.0,
            "y" : -200.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "query-es-index" : "reporting-index",
            "query-es-target" : "Flow file content",
            "elasticsearch-http-url" : "http://localhost:9200",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "query-es-type" : "_doc",
            "routing-query-info-strategy" : "NEVER",
            "query-es-fields" : "id,instrumentAssetSubType,instrumentName",
            "Character Set" : "UTF-8",
            "query-es-query" : "{\n  \"query\": {\n    \"match\": {\n      \"instrumentName\": {\n        \"query\" : \"MAF\"\n      }\n    }\n  }\n}",
            "query-es-size" : "10"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "query-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "query-es-index",
              "sensitive" : false
            },
            "query-es-limit" : {
              "displayName" : "Limit",
              "identifiesControllerService" : false,
              "name" : "query-es-limit",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "query-es-target" : {
              "displayName" : "Target",
              "identifiesControllerService" : false,
              "name" : "query-es-target",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "query-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "query-es-type",
              "sensitive" : false
            },
            "routing-query-info-strategy" : {
              "displayName" : "Routing Strategy for Query Info",
              "identifiesControllerService" : false,
              "name" : "routing-query-info-strategy",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "query-es-fields" : {
              "displayName" : "Fields",
              "identifiesControllerService" : false,
              "name" : "query-es-fields",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "query-es-sort" : {
              "displayName" : "Sort",
              "identifiesControllerService" : false,
              "name" : "query-es-sort",
              "sensitive" : false
            },
            "query-es-query" : {
              "displayName" : "Query",
              "identifiesControllerService" : false,
              "name" : "query-es-query",
              "sensitive" : false
            },
            "query-es-size" : {
              "displayName" : "Page Size",
              "identifiesControllerService" : false,
              "name" : "query-es-size",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.QueryElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-restapi-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "442bd35e-cbee-3751-a601-aad3a97d359f",
          "instanceIdentifier" : "f7d13651-8da1-1b86-b94f-fe67755d9f6f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JsonQueryElasticsearch",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2072.0,
            "y" : -200.0
          },
          "properties" : {
            "el-rest-fetch-index" : "reporting-index",
            "el-rest-output-no-hits" : "false",
            "el-rest-client-service" : "cc4cef93-6637-3408-85c7-f6ad8fe793e8",
            "el-rest-type" : "_doc",
            "el-rest-format-hits" : "FULL",
            "el-rest-split-up-hits" : "splitUp-no",
            "el-rest-query" : "{\n  \"query\": {\n    \"match\": {\n      \"instrumentName\": {\n        \"query\" : \"MAF\"\n      }\n    }\n  }\n}",
            "el-rest-split-up-aggregations" : "splitUp-no",
            "el-rest-format-aggregations" : "FULL"
          },
          "propertyDescriptors" : {
            "el-rest-fetch-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "el-rest-fetch-index",
              "sensitive" : false
            },
            "el-rest-output-no-hits" : {
              "displayName" : "Output No Hits",
              "identifiesControllerService" : false,
              "name" : "el-rest-output-no-hits",
              "sensitive" : false
            },
            "el-rest-client-service" : {
              "displayName" : "Client Service",
              "identifiesControllerService" : true,
              "name" : "el-rest-client-service",
              "sensitive" : false
            },
            "el-rest-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "el-rest-type",
              "sensitive" : false
            },
            "el-query-attribute" : {
              "displayName" : "Query Attribute",
              "identifiesControllerService" : false,
              "name" : "el-query-attribute",
              "sensitive" : false
            },
            "el-rest-format-hits" : {
              "displayName" : "Search Results Format",
              "identifiesControllerService" : false,
              "name" : "el-rest-format-hits",
              "sensitive" : false
            },
            "el-rest-split-up-hits" : {
              "displayName" : "Search Results Split",
              "identifiesControllerService" : false,
              "name" : "el-rest-split-up-hits",
              "sensitive" : false
            },
            "el-rest-query" : {
              "displayName" : "Query",
              "identifiesControllerService" : false,
              "name" : "el-rest-query",
              "sensitive" : false
            },
            "el-rest-split-up-aggregations" : {
              "displayName" : "Aggregation Results Split",
              "identifiesControllerService" : false,
              "name" : "el-rest-split-up-aggregations",
              "sensitive" : false
            },
            "el-rest-format-aggregations" : {
              "displayName" : "Aggregation Results Format",
              "identifiesControllerService" : false,
              "name" : "el-rest-format-aggregations",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.JsonQueryElasticsearch",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "e12ceb26-0156-35ac-97b7-41793cbf509a",
          "instanceIdentifier" : "f7d13658-8da1-1b86-adb1-c06e437fe634",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2096.0,
            "y" : 64.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "92aede5b-9351-3b76-9b7a-f1207baa113d",
          "instanceIdentifier" : "f7d13622-8da1-1b86-24b0-20c0ed7295c9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 416.0,
            "y" : 32.0
          },
          "properties" : {
            "jolt-spec" : "[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"SecId\": \"serviceProviderSpecificCode\",\n\t\t\"SecIsinCod\": \"isin\",\n\t\t\"SecNameTxt\": \"instrumentName\",\n\t\t\"SecXrGroupDsc\": \"instrumentGroup\",\n\t\t\"SecXrGroupCod\": \"instrumentGroupCode\",\n\t\t\"SecSubAssetTypeDsc\": \"instrumentAssetSubType\",\n\t\t\"SecSubAssetTypeCod\": \"id\"\n\t}\n}]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "b50e5bd3-6088-3be0-83ef-dcea1c571cae",
          "instanceIdentifier" : "f7d13608-8da1-1b86-7e74-e173f2565721",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -144.0,
            "y" : 56.0
          },
          "properties" : {
            "record-writer" : "d2ad18f7-6490-3e6c-9319-8e96f1f10768",
            "record-reader" : "91d6e487-a565-3bbc-abbc-d4097a52ab16",
            "include-zero-record-flowfiles" : "true"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "e5361edd-7bae-3c36-a79b-8674df370e68",
          "instanceIdentifier" : "f7d1364f-8da1-1b86-4567-581fa5d6143c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1696.0,
            "y" : 64.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "266a0fe2-f2ca-3e01-b87b-e8782020b712",
          "instanceIdentifier" : "f7d1360a-8da1-1b86-f217-3d6e7005d525",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 408.0,
            "y" : 528.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d5838619-5af1-3e4a-b7bf-6c1ed4541dd6",
          "identifier" : "b58d7250-e4be-3648-9fc4-dc2993bc7d1d",
          "instanceIdentifier" : "f7d13602-8da1-1b86-44ad-e9f4147e10da",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 408.0,
            "y" : 240.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "put-es-id-attr" : "fragment.index",
            "put-es-type" : "_doc",
            "put-es-index" : "reporting-index",
            "elasticsearch-http-url" : "http://localhost:9200/",
            "put-es-batch-size" : "100",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "put-es-index-op" : "index",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "put-es-id-attr" : {
              "displayName" : "Identifier Attribute",
              "identifiesControllerService" : false,
              "name" : "put-es-id-attr",
              "sensitive" : false
            },
            "put-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "put-es-type",
              "sensitive" : false
            },
            "put-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "put-es-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "put-es-index-op" : {
              "displayName" : "Index Operation",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}